@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Red: hsl(4, 100%, 49%);
  --White: hsl(0, 0%, 100%);
  --border-color-gray: hsl(0, 0%, 71%);
  --btn-color1: hsl(77, 100%, 29%);
  --btn-color2: hsl(79, 94%, 20%);
  --black: hsl(0, 0%, 0%);
  --font-family-1: "Poppins", sans-serif;
  --font-family-2: "Play", sans-serif;
  --font-family-3: "Roboto", sans-serif;
}
html {
  font-size: 100%;
}
body {
  width: min(100%, 1600px);
  margin-inline: auto;

  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}
a,
a:visited,
a:active {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-size: 1.3rem;
}
main {
  margin-inline: auto;
}
/* End Reset styles */

/* Landing Page Styles */
.landing-page {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(107, 148, 0, 0.96) 0%,
      rgba(107, 148, 0, 0.35) 155.89%
    ),
    url("/images/rm218batch5-katie-18\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--White);
}

header {
  height: 10vh;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  margin-inline: auto;
}
.logo {
  width: 10%;
}
.form-cont {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 30%;
  border: 1px solid var(--border-color-gray);
  border-radius: 30px;
}
.form-cont input[type="text"],
input[type="email"] {
  width: 80%;
  border: none;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
.fa-magnifying-glass {
  color: var(--border-color-gray);
  font-size: 1rem;
}
.header-links {
  display: flex;
  justify-content: center;
}
.close-icon {
  color: var(--white);
  display: none;
}

.header-links a {
  margin-top: -10px;
  color: var(--black);
  padding-left: 1rem;
}
.icon {
  display: flex;
  align-items: center;
}
.fa-bell {
  margin: 0 1.5rem;
  width: 1rem;
  color: var(--btn-color1);
}
.header-btn {
  padding: 0.5rem 1rem;
  padding-left: 1rem;
  background-color: var(--btn-color1);
  color: var(--White);
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 7px;
}
.fa-bars {
  color: var(--btn-color1);
  font-size: 1.1rem;
  display: none;
}
.landing-page-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
.landing-page-copy {
  font-family: var(--font-family-3);
  align-self: center;
  width: 44%;
}
.landing-page-copy h4 {
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
}
.landing-page-copy h1 {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.landing-page-copy p {
  line-height: 1.5;
  padding-bottom: 3rem;
}
.btn1,
.btn2 {
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
}
.btn1 {
  background-color: var(--btn-color1);
  color: var(--White);
}
.btn1 a {
  color: var(--white);
}

.btn2 {
  background-color: var(--White);
  color: var(--black);
  margin-left: 1rem;
}
.btn2 a {
  color: var(--black);
}
.landing-page-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  color: var(--black);
}
.img-cont1 {
  align-self: flex-start;
}
.img-cont {
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--White);
}
.img-cont h4 {
  padding-bottom: 0.8rem;
  font-family: var(--font-family-2);
}
.img-cont img {
  width: 100%;
  margin-inline: auto;
}
.nft-content {
  font-family: var(--font-family-3);
  padding-top: 0.8rem;
}
.nft-content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.legend span {
  font-size: 0.7rem;
  color: var(--border-color-gray);
}
.place-bid-btn {
  font-size: 0.7rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: var(--White);
  background-color: var(--btn-color1);
}
.legend-icon {
  display: flex;
  width: 30%;
  margin-top: 5px;
}
.legend-icon img {
  width: 70%;
}
.legend-icon span {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  align-self: center;
}
.nft-content2 {
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.nft-content .text1 {
  font-size: 0.8rem;
  color: var(--border-color-gray);
}
.nft-content .text2 {
  padding-top: 0.3rem;
  font-family: var(--font-family-2);
}
.img-cont2 {
  margin-top: 5rem;
  margin-left: 1.5rem;
  align-self: flex-end;
}
/* End of landing page styles */

/* Footer Styles */

footer {
  margin-top: 20rem;
}
.footer-content-1 {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketplace,
.account,
.resources,
.company {
  align-self: flex-start;
}
.footer-img {
  width: 13%;
}
.links a {
  display: block;
  color: var(--black);
}
h3 {
  color: var(--btn-color2);
}
input[type="email"] {
  border: none;
}
.updates {
  width: 25%;
}
.updates h4 {
  font-weight: 500;
  margin-bottom: 3rem;
}
.update-form {
  border: 1px solid var(--border-color-gray);
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.update-form ::placeholder {
  padding-left: 1rem;
}
.updates button {
  width: 40%;
  font-size: 1rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--btn-color1);
  color: var(--White);
}
.footer-content-2 {
  margin-top: 4rem;
  background-color: var(--btn-color2);
  display: flex;
  justify-content: space-between;
}
.copyright,
.terms {
  color: var(--White);
  padding: 2rem 3rem;
}
.terms {
  display: flex;
}
.terms a {
  color: var(--White);
  padding-left: 1rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.social-icons .fa-brands {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  color: var(--btn-color1);
}
.line {
  width: 100%;
  height: 10vh;
  margin-top: -2rem;
  background: linear-gradient(
    180deg,
    #6b9400 0.42%,
    rgba(255, 255, 255, 0) 0.42%,
    #ffffff 50%
  );
}

/* Media Queries */
